.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.selectData {
  width: 20cm;
}

.selectWorkload {
  width: 20cm;
}

/* css for select workload */
.fontWorkload {
  font-size: 17px;
  font-family: cursive;
}

/* css for select dataset */
.fontDataset{
  font-size: 17px;
  font-family: cursive;
}

.inputEle{
  height: 4ch;
  width: 30ch;
}

.inputEleShortLeft{
  margin-right: 0.25em;
  height: 4ch;
  width: 14.5ch;
}

.inputEleShortRight{
  margin-left: 0.25em;
  height: 4ch;
  width: 14.5ch;
}

.chartContainer{
  margin-left: 5em;
  margin-top: 1em;
  height: 44.5ch
}

.bottomPanels{
  height: 20cm;
  width: 50cm;
}

.attr{
  font-family: cursive;
}

.gridStyle{
  padding: 0;
}

.sysTitle{
  font-size: 25px;
  font-family: cursive;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #283430;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
