.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigateBar{
  height: 1cm;
}

/* css for analyst panel */
.privacyBudget{
  margin-top: 1em;
  margin-left: 1em;
}

.resultTable{
  margin-top: -2em;
  height: 25em;
}

.resultComparisonDesc{
  margin-left: 1em;
  margin-top: 0.15em;
}

.resultComparison{
  margin-left: 0.5em;
  margin-top: 1em;
}

.queryType{
  margin-left: 2em;
}

/* The following is for description page */
.blowfishHomepage{
  margin-left: 40%;
}

.blowfishDesc{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 16px;
}
/* The above is for description page */

.selectData {
  width: 20cm;
}

.selectWorkload {
  width: 20cm;
}

/* css for select workload */
.fontWorkload {
  font-size: 17px;
}

/* css for select dataset */
.fontDataset{
  font-size: 17px;
}

.policyPanel{
  margin-left: 1.5em;
  margin-top: 0.5em;
  height: 25em;
}

.trueCount{
  margin-top: 0.5em;
  margin-left: -0.5em;
  height: 23em;
}

.resultPlot{
  margin-top: 2em;
  height: 22.2em;
}

.policyCounts{
  margin-left: 0.5em;
  height: 23em;
}

.attr{
  height: 3em;
}

.numPolicyPanel{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 20em;
}

.policyVisual{
  margin-left: 0em;
}

.policyVisualDesc{
  margin-left: 0.5em;
}

.policyDescription{
  margin-left: 2em;
  font-size: 16px;
}

.inputEle{
  margin-top: 0.5em;
  height: 4ch;
  width: 30ch;
}

.inputEleShortLeft{
  margin-top: 0.5em;
  margin-right: 0.25em;
  height: 4ch;
  width: 14.5ch;
}

.inputEleShortRight{
  margin-top: 0.5em;
  margin-left: 0.25em;
  height: 4ch;
  width: 14.5ch;
}

.inputEleShort{
  margin-top: -1.5em;
  height: 4ch;
  width: 14.5ch;
}

.policyThresholdLabel{
  margin-top: -1em;
}

.chartContainer{
  margin-left: 0em;
  margin-top: 1em;
  height: 44.5ch;
  width: 300;
}

.thresholdComparisonDesc{
  margin-top: 1em;
}

.blowfishCountLabel{
  margin-left: 1em;
  margin-right: 0.15em;
}

.blowfishCount{
  margin-left: -0.5em;
}

.blowfishThreshold{
  margin-top: -1em;
}

.querySummaryPosition{
  margin-top: 1em;
  margin-left: 0.5em;
}

.bottomPanels{
  margin-top: -1em;
  margin-left: 11.5%;
}

.bottomPanelsAnalyst{
  margin-top: -1em;
  margin-left: 18.5%;
}

.mainPanelSize{
  height: 20cm;
  width: 40cm;
}

.analystNoisyResult{
  margin-top: 0.5em;
}

.mainPanelSizeAnalyst{
  height: 20cm;
  width: 30cm;
}

.gridStyle{
  padding: 0;
}

.sysTitle{
  font-size: 25px;
}

.titlePosition{
  margin-left: 43%;
}

.selectDatasetPosition{
  margin-top: -0.5em;
  margin-left: 35%;
}

.selectDataset{
  margin-left: -2em;
  margin-top: -0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.App-header {
  background-color: #283430;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
